{% extends 'email/base.html.twig' %}
{% block content %}
    <div class="content">
        <table>
            <tr>
                <td>
                    <h1>Добро пожаловать, {{ email.toName }}! Подтвердите, пожалуйста, Ваш email</h1>
                    <p class="lead">Пожалуйста, подтвердите Ваш email, перейдя по ссылке ниже:</p>
                    <a class="btn" href="{{ signedUrl }}">Подтвердить</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}